<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
    <p style="color: white" > Loading... </p>
</ngx-spinner>
<div class=" col-8" style="margin: auto;">
  <h3>Countries</h3>
  <p>Here's a list of Countries feel free to play with it.</p>
  <div class="row" style="justify-content: space-between;margin-top: 5px;">
    <div class="input-group col-6">
      <input type="search" class="form-control rounded" [(ngModel)]="keyword" placeholder="Search by name" (keyup.enter)="getAllCountries()" aria-label="Search"
        aria-describedby="search-addon" />
      <button type="button" class="btn btn-outline-primary" (click)="getAllCountries()">search</button>
    </div>
    <div class="col-3">
      <button class="btn btn-info" (click)="onAddEditCountry({},'add')">
        Add a new country
      </button>
    </div>
  </div>
  <table mat-table [dataSource]="countries" class="table table-striped table-hover" style="margin-top: 5px;" matSort #Sort="matSort" 
      matSortActive = "name" matSortDirection = "asc" (matSortChange)="getAllCountries()" >  
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="thead-dark"> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="iso2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ISO2 </th>
        <td mat-cell *matCellDef="let element"> {{element.iso2}} </td>
      </ng-container>
    
      <ng-container matColumnDef="iso3">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ISO3 </th>
        <td mat-cell *matCellDef="let element"> {{element.iso3}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 15px;"></th>
        <td mat-cell *matCellDef="let element" style="padding: 10px;">
          <button class="btn btn-info" (click)="onAddEditCountry(element , 'edit')">
            Edit
          </button>
          &nbsp;
          <button class="btn btn-danger" (click)="onDeleteCountry(element.id)">
            Delete
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
    <mat-paginator (page)="pageEvent = $event;changePage($event)" [pageSize]="pageSize" [length]="pageLength"
    [pageIndex]="pageIndex" #Paginator="matPaginator" [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons>
    </mat-paginator>
</div>